<html>   
<head>   
    <title>rembgpy by Alper Tuna KILIÇ</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/errs.css">
</head>   
<body>   
    <a href="/"><img src="../static/img/home-icon.png" width="50px" height="50px" class="home"></a>
    <img src="../static/img/warning.png" widht="200" height="200" class="warn">
    <h1 class="danger">HATA: ŞİFRE SIFIRLANAMADI</h1>
    <br>
    <h2 class="alter_danger">BİLGİLERİNİZ YANLIŞ VEYA SUNUCU KAPALI</h2>
    <div class="footer">
        <a href="my_account"><span class="material-symbols-outlined">
            manage_accounts
            </span></a>
        <a href="https://gmail.com/"><p class="foot">by Alper Tuna KILIÇ</p></a><p class="foot2">uses ngrok</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUCI4////+ap9I6VKj3+Pz7+/2hrdYiP50nQ5/v8fhHX62uudvf4/GOnc3Iz+eyvN1BWqvo6/XKg/hXAAAASElEQVR4AWNABaOAEQSYGJhZgBQrGzsuBRycjGDAwoVdATcPIxSwsGMoQAO8hBTwYVXALwACfCAmDw5fgAA/iClIjoJRBaMAAAV0Aurx8qm0AAAAAElFTkSuQmCC" alt="ngrok", width="50", height="50" class="ngroklogo">
    </div>
</body>   
</html>
