<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rembgpy | kodland</title>
    <link rel="stylesheet" href="../static/forgot_password.css">
</head>
<body>
    <span class="container">
        <h1>Kaydolurken verilen ID ve girdiğiniz E-POSTA'yı giriniz.</h1>
        <form method="post" action="{{ url_for('sifre_degistir') }}">
             <label for="ID">ID</label>
             <br>
             <input type="text" name="ID" required placeholder="ID">
             <br>
             <br>
             <label for="femail">E-POSTA</label>
             <br>
             <input type="text" name="femail" required placeholder="E-POSTA">
             <br>
             <br>
             <button type="submit" class="submit">SIFIRLA</button>
             <br>
        </form>

        
    </span>
    
</body>
</html>