<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rembgpy | kodland</title>
    <link rel="stylesheet" href="../static/reg_sonuc.css">
</head>
<body>
    <span class="container">
        <h1>Kullanıcı ID: {{ kayıt_id }}</h1>
        <h2 class="danger">BU ID, ŞİFRENİZİ UNUTTUĞUNUZDA GİRMENİZ İÇİN İKİNCİ BİR ANAHTAR OLACAKTIR!!</h2>
        <a href="/"><button class="redirect">Beni giriş yapma sayfasına yönlendir.</button></a>
    </span>
    
    <script>
        userId = "{{ kayıt_id }}"
        alert("ID'NİZİ NOT ALIN: "+userId)
    </script>
    <script src="../static/js/reg_sonuc.js"></script>
</body>
</html>