<html>   
<head>   
    <title>rembgpy: dosya yükle</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/yukle.css">
</head>   
<body>   
    <h1 class="title">REMBGPY: PYTHON kullanan bir resim arka plan silme WEB sitesi.</h1>
    <br>
    <h2 class="load" id="load">REMBGPY, python'da rembg, flask ve filename isimli modülleri kullanarak yapılmış bir sitedir. Alper Tuna KILIÇ tarafından kodlanmıştır.</h2>
    <br>
    <br>
    <h2 class="alter_title" id="alter_title"></h2>
    <form action="/basarili" method="post" enctype="multipart/form-data" id="form">
        <input type="file" name="file" class="file">
        <br>
        <br>
        <input type="submit" class="submit" value="DOSYAYI YÜKLE" onclick="changeLoading(), changeTitle(), hideAlt()">
    </form>
    <br>
    <br>
    <h2 class="alter_title" id="alter_title1">Kaliteli fotoğraf dosyaları daha verimli sonuçlar verir. Bulanık veya düşük çözünürlüklü dosyalardan tam sonuç alınamaz. Dosyayı yükledikten sonra dosya büyüklüğüne göre bekleme süreniz artacaktır. Dosya yüklenip işlendikten sonra işlenmiş hali tarayıcınıza gelir. Sağ tıklayıp resmi farklı kaydederek resmi indirebilirsiniz. Bizi kullandığınız için teşekkür ederiz :)</h2>
    <div class="footer">
        <p class="foot">by Alper Tuna KILIÇ</p><p class="foot2">uses ngrok</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUCI4////+ap9I6VKj3+Pz7+/2hrdYiP50nQ5/v8fhHX62uudvf4/GOnc3Iz+eyvN1BWqvo6/XKg/hXAAAASElEQVR4AWNABaOAEQSYGJhZgBQrGzsuBRycjGDAwoVdATcPIxSwsGMoQAO8hBTwYVXALwACfCAmDw5fgAA/iClIjoJRBaMAAAV0Aurx8qm0AAAAAElFTkSuQmCC" alt="ngrok", width="50", height="50" class="ngroklogo">
    </div>

    <script src="../static/js/yukle.js"></script>
</body>   
</html>