<html>   
<head>   
    <title>rembgpy by Alper Tuna KILIÇ</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/yukleniyor.css">
</head>   
<body>   
    <h1 class="title">REMBGPY: PYTHON kullanan bir resim arka plan silme WEB sitesi.</h1>
    <br>
    <h2 class="alter_title" id="alter_title"></h2>
    <br>
    <h2 class="load" id="load1"></h2>
    <br>

    <div class="footer">

        <a href="https://gmail.com/"><p class="foot">by Alper Tuna KILIÇ</p></a><p class="foot2">uses ngrok</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUCI4////+ap9I6VKj3+Pz7+/2hrdYiP50nQ5/v8fhHX62uudvf4/GOnc3Iz+eyvN1BWqvo6/XKg/hXAAAASElEQVR4AWNABaOAEQSYGJhZgBQrGzsuBRycjGDAwoVdATcPIxSwsGMoQAO8hBTwYVXALwACfCAmDw5fgAA/iClIjoJRBaMAAAV0Aurx8qm0AAAAAElFTkSuQmCC" alt="ngrok", width="50", height="50" class="ngroklogo">
    </div>

    <script src="../static/js/yukleniyor.js"></script>
</body>   
</html>